.html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.body {
    width: 600px;
    height: 600px;
    background-image: url("../images/TLO.png");
    resize: both;
    overflow: auto;
}



.form {
    color: black;
    padding: 10px auto;
    text-align: center;
    max-width: 400px;
    margin-block-end: 20px;





}

.form__labelText {
    padding: 20px;

    text-align: center;









}

.form__paragraph {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    background-color: rgb(67, 194, 225);
    border: 10px solid rgb(0, 30, 140);
    margin-left: 20px;




}

.form__paragraph--special {
    padding: 10px;
    max-width: 400px;
    margin-left: 20px;
    border: 10px solid rgb(0, 30, 140);
    background: rgb(67, 194, 225);



}

.form__button {
    width: 20%;
    padding: 10px;
    border: 5px solid rgb(0, 30, 140);
    border-radius: 10px;
    background-color: rgb(67, 194, 225);
    max-width: 400px;
    margin-left: 20px;

}

.form__button:hover {
    background-color: rgb(67, 194, 225);
}

.form__button:active {
    background-color: mediumblue;
    color: floralwhite;
}

.readme {
    color: brown;
    padding: 40px;

    text-decoration: none;

}

.readme:visited {
    color: blue;
}

