html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: inherit;
}

.heading {
    color: mediumblue;
}

.element {
    max-width: 1000px;
    background-color: rgb(210, 215, 213);
    padding: 20px;
    margin: 50px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 20px;

}



.bold {
    font-weight: bold;
}

.table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;

}

.tableCell {
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    margin-bottom:20px;
}

.caption {
    caption-side: top;
    text-align: center;
    margin-bottom: 20px;
}

.tableHeader {
    background-color: rgb(18, 100, 223);
    font-weight: normal;
    color: aliceblue;
}

.tableRow {
    background-color: gold;
    color: blue;


}

.tableRow:hover {
    background-color: aqua;
}

.list1 {
    margin: 10px 0;
    padding-left: 20px;
    list-style: none;




}


.link {
    color: darkred;
    text-decoration: none;
}

.link:visited {
    color: rgb(150, 2, 61);
}

.link:focus {
    outline: 2px solid currentColor;
}

.link:hover {
    color: rgb(150, 2, 61);
}

.link:active {
    color: rgb(0, 255, 115);

}

.link2 {
    color: blue;
    text-decoration: none;
}

.link2:visited {
    color: rgb(17, 2, 129);
}

.link2:focus {
    outline: 2px solid currentColor;
}

.link2:hover {
    color: rgb(150, 2, 61);
}

.link2:active {
    color: rgb(46, 9, 165);

}

.dark {

    background-color: rgb(13, 13, 13);
}